In [73]:
import pandas as pd
import math

In [74]:
# reading in csv
df = pd.read_csv("fantasy-csvs/FantasyPros_Fantasy_Football_Points_WR_PPR.csv")

In [75]:
# setting vars 
lst = ["-", "BYE",""]
std_dev_lst = []

# looping through df
for index, row in df.iterrows():
    # setting avg
    curr_mean = row["AVG"]
    sumT = 0
    n = 17
    # loop through N games
    for i in range(1,18):
        if row[f"{i}"] not in lst:
            Xi = float(row[f"{i}"])
            sumT += ((Xi - curr_mean) ** 2)
        else:
            n -= 1
    std_dev = math.sqrt(sumT / n)
    std_dev_lst.append(std_dev)
    
df.insert(loc=23,column="STD_DEV", value=std_dev_lst,allow_duplicates=True)

In [76]:
# getting top 40 receivers + pairings I put in 
df_top = df.head(n=45).copy()

# creating coefficient variation column 
df_top['CV'] = df_top['STD_DEV'] / df_top['AVG']

# creating final dataframe with average, std-dev, and CV
df_final = df_top[['Player', 'AVG', 'STD_DEV', 'CV']]
df_final = df_final.sort_values(by=['CV'])

In [77]:
# styling dataframe 
styled_df = df_final.style.set_properties(**{'text-align': 'center'}).set_table_styles([{'selector': 'th', 'props': [('text-align', 'center')]}])
styled_df